/app/postgres_datos
/app/db/postgres
/app/db/postgres/*
app/db/postgres/
app/db/postgres/*
pycache/
.pyc
/app/nginx/logs/
/app/nginx/ssl_certificates/
/app/data/
/app/waf/appsec-config/
/app/waf/appsec-data/
/app/waf/appsec-logs/
/app/waf/postgres-data/
/app/waf/smartsync-storage/
/app/vault/.env
/app/db/postgres/
/app/backend/UserManagement/migrations/000*
!/app/backend/UserManagement/migrations/0001*
/app/vault/token.txt
/app/vault/unseal_key1.txt
/app/vault/unseal_key2.txt
/app/vault/unseal_key3.txt
test.py
client_secret.json
/app/backend/token.pickle
/app/backend/profile_pictures/
