.margin-page {
	margin: clamp(0.938rem, 0.664vw + 0.813rem, 1.875rem) clamp(0rem, 6.385vw - 1.716rem, 8.5rem);
}

.score {
	width: clamp(12.5rem, 15.487vw + 9.596rem, 34.375rem);
	height: clamp(4.375rem, 4.867vw + 3.462rem, 11.25rem);
	font-size: clamp(4.688rem, 5.531vw + 3.65rem, 12.5rem);
}

.user-photo {
	width: clamp(5rem, 7.522vw + 3.59rem, 15.625rem);
	margin-bottom: clamp(0.688rem, 1.018vw + 0.497rem, 2.125rem);
}

.players-usernames {
	font-size: clamp(0.938rem, 1.46vw + 0.664rem, 3rem);
}

.achievements-icons {
	width: clamp(4.375rem, 5.752vw + 3.296rem, 12.5rem);
	margin-bottom: clamp(0.688rem, 1.018vw + 0.497rem, 2.125rem);
}

.badge-name {
	font-size: clamp(0.563rem, 0.487vw + 0.471rem, 1.25rem) ;
}

.pause {
	font-size: clamp(0.938rem, 1.106vw + 0.73rem, 2.5rem);
}

.pause img {
	width: clamp(0.938rem, 1.106vw + 0.73rem, 2.5rem);
}

.game-table {
	/* transform: rotate(90deg); */
	width: clamp(37.5rem, 37.611vw + 30.448rem, 90.625rem);
	height: clamp(18.75rem, 19.912vw + 15.017rem, 46.875rem);
}