{"rulebase":{"rulesConfig":[{"assetId":"Any","assetName":"Any","ruleId":"Any","ruleName":"Any","context":"All()","priority":1,"isCleanup":false,"parameters":[],"practices":[{"practiceId":"0c19882c-ddc9-4668-a295-8aa3d13d79c5","practiceName":"local_policy/webapp-default-practice","practiceType":"WebApplication"}],"triggers":[{"triggerId":"5a0a6a48-8e62-4c6d-8616-ccd7287cef98","triggerName":"local_policy/appsec-default-log-trigger","triggerType":"log"},{"triggerId":"ad902c9e-e8b5-4501-ac2a-08bfeadcb370","triggerName":"local_policy/appsec-default-web-user-response","triggerType":"WebUserResponse"}],"zoneId":"","zoneName":""}],"usersIdentifiers":[]}}