{"rulebase":{"rulesConfig":[{"assetId":"Any","assetName":"Any","ruleId":"Any","ruleName":"Any","context":"All()","priority":1,"isCleanup":false,"parameters":[],"practices":[{"practiceId":"35026d26-8385-49c8-9b35-9eb6c63cce61","practiceName":"local_policy/appsec-best-practice","practiceType":"WebApplication"}],"triggers":[{"triggerId":"12a0bccb-fb95-4728-8fc1-215367550035","triggerName":"local_policy/appsec-log-trigger","triggerType":"log"},{"triggerId":"a6b450c2-9f0b-42b1-804b-bca82327cd02","triggerName":"local_policy/403-forbidden","triggerType":"WebUserResponse"}],"zoneId":"","zoneName":""}],"usersIdentifiers":[]}}