{"rulebase":{"rulesConfig":[{"assetId":"Any","assetName":"Any","ruleId":"Any","ruleName":"Any","context":"All()","priority":1,"isCleanup":false,"parameters":[],"practices":[{"practiceId":"c0c5da78-9063-4ba8-a28f-18262d1074ee","practiceName":"local_policy/webapp-default-practice","practiceType":"WebApplication"}],"triggers":[{"triggerId":"495f9ff5-0907-45ab-8cc9-619cdb052883","triggerName":"local_policy/appsec-default-log-trigger","triggerType":"log"},{"triggerId":"5cb17e96-02da-4b25-bd68-27dcd621b309","triggerName":"local_policy/appsec-default-web-user-response","triggerType":"WebUserResponse"}],"zoneId":"","zoneName":""}],"usersIdentifiers":[]}}