.searching-animation {
	line-height: 1.1;
	font-size: clamp(2.813rem, 4.646vw + 1.941rem, 9.375rem);
}

.animation-container {
	height: calc(clamp(2.813rem, 4.646vw + 1.941rem, 9.375rem) - 15px);
}

.marquee-lg {
	width: clamp(1.938rem, 3.142vw + 1.348rem, 6.375rem);
}

.marquee-sm {
	width: clamp(0.688rem, 1.062vw + 0.488rem, 2.188rem);
}

.char {
	text-shadow: #fbfbee 1px 0 4px;
}

.cancel-button {
	font-size: clamp(0.5rem, 0.31vw + 0.442rem, 0.938rem);
	padding: clamp(0.25rem, 0.265vw + 0.2rem, 0.625rem) clamp(1rem, 1.504vw + 0.718rem, 3.125rem);
}
