@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Dreamscape';
	src: url('/assets/fonts/Dreamscape/Dreamscape.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Medium';
	src: url('/assets/fonts/Avenir/Avenir-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Heavy';
	src: url('/assets/fonts/Avenir/Avenir-Heavy.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-size: cover;
	background-position: 50% 37%;
	background-image: url("/assets/images/background.png");
}

.responsive-font {
	font-size: clamp(3.125rem, 2.017rem + 5.9091vw, 11.25rem);
}

.responsive-font-header-buttons {
	font-size: clamp(0.875rem, 0.8409rem + 0.1818vw, 1.125rem);
}

.subtitle, .responsive-font-getstarted-button {
	font-size: clamp(0.6875rem, 0.6108rem + 0.4091vw, 1.25rem);
}

.call-to-action {
	font-size: clamp(0.6875rem, 0.5256rem + 0.8636vw, 1.875rem);
}

.gradient-border {
	border-image: linear-gradient(to right, rgba(251, 251, 238, 0), rgba(251, 251, 238, 0.2), rgba(251, 251, 238, 0)) 1;
}

.card-close-button {
	display: flex;
	justify-content: end;
	width: 20px;
	height: 20px;
}

.card {
	width: clamp(28.125rem, 27.4432rem + 3.6364vw, 33.125rem);
	height: clamp(31.25rem, 29.1193rem + 11.3636vw, 46.875rem);
}