.loading-indicator {
    position: relative;
    width: 500px;  /* Increased from 200px */
    height: 100px;
    margin: 100px auto;
}

.paddle {
    position: absolute;
    width: 18px;
    height: 100px;
    background-color: #E6DDC6;
    border-radius: 10px;
}

.paddle.left {
    left: 0;
    animation: paddle-move 1s infinite;
}

.paddle.right {
    right: 0;
    animation: paddle-move 1s infinite reverse;
}

.ball {
    position: absolute;
    width: 25px;
    height: 20px;
    background-color: #E6DDC6;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: ball-move 1s infinite;
}

@keyframes paddle-move {
    0%, 100% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
}

@keyframes ball-move {
    0%, 100% {
        left: 20%;
    }
    50% {
        left: 80%;
    }
}

.statement {
    font-size: clamp(1.25rem, 3.54vw + 0.586rem, 6.25rem);
}

.timeout p,
button {
	font-size: clamp(0.813rem, 0.221vw + 0.771rem, 1.125rem);
}

.matchmaking {
    gap: clamp(1.875rem, 4.867vw + 0.962rem, 8.75rem);
}

.matchmaking .avatar {
    width: clamp(5rem, 7.522vw + 3.59rem, 15.625rem);
}

.matchmaking h1, .countdown {
    font-size: clamp(1.625rem, 3.274vw + 1.011rem, 6.25rem);
}

.matchmaking h2 {
    font-size: clamp(0.75rem, 1.239vw + 0.518rem, 2.5rem);
}

.matchmaking h6 {
    font-size: clamp(0.375rem, 0.442vw + 0.292rem, 1rem);
}
