{"rulebase":{"log":[{"context":"triggerId(12a0bccb-fb95-4728-8fc1-215367550035)","triggerName":"local_policy/appsec-log-trigger","triggerType":"log","verbosity":"Standard","acAllow":false,"acDrop":true,"complianceViolations":false,"complianceWarnings":false,"extendLoggingMinSeverity":"high","extendLogging":true,"logToAgent":true,"logToCef":false,"logToCloud":false,"logTolocalTuning":false,"logToSyslog":false,"responseBody":false,"responseCode":false,"tpDetect":true,"tpPrevent":true,"webBody":false,"webHeaders":false,"webRequests":false,"webUrlPath":false,"webUrlQuery":false,"urlForSyslog":":514","urlForCef":":0","formatLoggingOutput":false}],"webUserResponse":[{"context":"triggerId(a6b450c2-9f0b-42b1-804b-bca82327cd02)","triggerName":"local_policy/403-forbidden","details level":"response-code-only","response body":"","response code":403,"response title":""}]}}